.about{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    background-color: white;
}

.about2{
    display: flex;
}

.area-img{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5rem;
}

.imagem{
    width: 530px;
    height: 370px;
    border-radius: 20px;
}

@media screen and (max-width: 1100px){
   .about2{
    display: block;
   }

   .area-img{
    justify-content: start;
    margin-left: 1rem;
   }

}

@media screen and (max-width: 565px){
    .imagem{
        width: 400px;
        height: 250px;
    }
    .area-img{
        margin-left: 0rem;
       }

}

@media screen and (max-width: 350px){
    .imagem{
        width: 230px;
        height: 170px;
    }


}