
.area-externa{
  display: flex;
  flex-direction: row;
  background-color: #00334D;
  height: 560px;
  
}



.area1{
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  width: 100%;
}

.botao_grupos{
  margin: 1rem;
    cursor: pointer;
   width: 230px;
   height: 60px;
   background-color: #00334D;
   color: white;
   font-family: var(--font-family);
   font-weight: 600;
   font-size: 27px;
   border: 2px solid white;
   border-radius: 10px;
}




.imagem2{

  margin-right: 0;
  height: 100%;
  width: 620px;

}

@media screen and (max-width: 1100px){
  .area-externa{
    display: block;
    height: auto;
  }

  .imagem2{
    display: none;
    width: 600px;
    height: 550px;
    padding-left: 3rem;
  }

}

@media screen and (max-width: 617px){
  .imagem2{
    display: none;
  }

  .botao_grupos{
    width: 180px;
    height: 43px;
    font-size: 18px;
    margin-left: 0rem;
  }

}