.area-adm{
    display: flex;
    flex-direction: column;
    padding: 3rem;
}

.titulo-adm{
    font-family: var(--font-family);
    font-size: 19px;
    color: rgba(0, 0, 0, 0.8);;
}

.titulo-adm-tipo{
    font-size: 26px;
    color: rgba(0, 0, 0, 1);;
}

.area-titulo-adm div{
    margin-top: 0.5rem;
    width: 800px;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.6);;
}

.area-funcoes-adm{
    padding-top: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.linha-funcoes-adm{
    display: flex;
    flex-direction: row;
    margin-bottom: 1.5rem;
    
}


.card-funcao-adm{
    width: 120px;
    height: 110px;
    border: 2px solid rgba(0, 51, 77, 1);
    border-radius: 15px;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-left: 0.8rem;
    margin-right: 0.8rem;
    cursor: pointer;
}

.icone-adm{
    width: 42px;
    height: 42px;
}

.card-funcao-adm span{
    font-family: var(--font-family);
    font-size: 15px;
    text-align: center;
    color: rgba(0, 51, 77, 1);
}